<div class="page-custom-header title-space-lg bg-parallax mb80 parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url(<%=asset_path 'keyboard.jpg' %>);background-position:center;'>
            <div class="container">
                <div class="row">
                    <div class=" col-md-6">
                        <h2 class="text-white">Une communauté proactive</h2>

                        <p class="text-white-gray">
                        <strong>U-MAN</strong> est un projet visant à moderniser et simplifier l'échange d'information touchant la recherche sur les écosytèmes naturels.
                        </p>
                        <a href="/partenaires" class="btn btn-white-outline">Voir nos partenaires</a>
                    </div>
                </div>
            </div>
        </div><!--page title end-->

        <!-- Notre solution -->
        <!-- bouton en savoir plus vers technologie -->

        <!-- A propos de nous-->
        <!-- Partenaires  -->
        <!-- equipe -->
        <!-- Participer -->
        <!-- En savoir plus -->




                <div class='bg-white border-btm1'>
                    <div class='container pt80 pb90'>
                        <div class='row align-items-center'>
                            <div class='col-lg-8 mb70'>

                                <h3 class='title-font mb20'>Un objectif simple</h3>
                                    <p class='lead-p1'>
                                      Le projet U-MAN est né de la nécessité d'une compréhension des relations des organismes vivant entre eux et dans leurs environnements.</p class="lead-p1">
                                    <p class="lead-p1">Le secteur de la production agricole raisonnée et forestière ainsi que les biocarburants est en évolution rapide.</p class="lead-p1">
                                    <p class="lead-p1">Nous souhaitons faciliter cette conversion et aller encore plus loin. La permaculture s'inscrit dans cette démarche comme une solution innovante et évidente.<p class="lead-p1">U-MAN initie le premier mouvement de recherche et d'agrégation à visée internationale. Notre objectif le croisement de données et la recherche de résultat non linéaire.
                                  </p>
                              </div>
                                <div class='col-lg-4 ml-auto mb40 wow fadeInUp' data-wow-delay=".1s">
                                <img src=<%= asset_path 'coalmine.jpg' %> alt='' class='img-presentation'>
                            </div>
                        </div>
                    </div>
                </div><!--feature-->
                <div class='bg-white border-btm1'>
                    <div class='container pt90 pb50'>
                        <div class='row align-items-center'>
                            <div class='col-lg-2 mb40 wow fadeInUp' data-wow-delay='.2s'>
                                <img src=<%= asset_path 'computer.jpg' %> alt='' class='img-presentation'>
                            </div>
                        <div class='col-lg-9 mr-auto mb80'>

                                <h3 class='title-font mb20'>Une approche scientifique</h3>
                                <p class='lead-p1'>
                                  La connaissance humaine à progressé de manière exponentielle, en matière de biologie, de compréhension du microbiosme et d'étude du vivant.</p class="lead-p1">

                              <p class="lead-p1">Il est impératif de mettre en relation les données et études développées au niveau international entre elles.</p class="lead-p1">


                              <p class="lead-p1">Nous nous efforçons de simplifier l'agglomération de données dans le but de faire émerger des qualités dans le croisement de celle-ci.<br> Cella nous permet des découvertes, via le DEEP LEARNING, qui en d'autre temps aurais nécessité des générations d'agriculteurs attentifs et consciencieux.<br></p class="lead-p1">

                            <p class="lead-p1">Ainsi, le savoir le plus ancien de l'humanité, l'agriculture, et notre évolution propre dans notre écosystème en tant qu'espèce, se trouverait OPEN SOURCE au niveau international.</p class="lead-p1">

                            </div>

                        </div>
                    </div>
                </div><!--feature-->
                <div class='bg-white'>
                    <div class='container pt90 pb50'>
                        <div class='row align-items-center'>
                            <div class='col-lg-5 ml-auto mb40'>


                                <h3 class='title-font mb20'>Un engagement Humain</h3>
                                <p class='lead'>
                                  U-MAN, est une plateforme a destinations de professionels, pouvant accélérer son développement. L'objectif dès lors a été de créer un système participatif, permettant au personnes fortement impliquées de partager leur savoir.</p class="lead">

                              <p class="lead">Cet outil est appellé a évolué avec la volonté de la communauté et des capacités techniques a notre disposition.</p class="lead">


                              <p class="lead">La participation, d'acteurs exterieurs via des collaborations et des interventions au sein de U-MAN, nous permet d'accélérer notre croissance.</p class="lead">

                            <p class="lead">Notre volonté s'inscrit dans le cadre d'une reconstruction de nos écosystemes, et dans l'établissement d'une pensée nouvelle de l'agriculture, via une rentabilité retrouvée et prouvé de nos écosystèmes.</p class="lead">

                                </p>

                            </div>
                            <div class='col-lg-3 mr-auto mb40 wow zoomInUp' data-wow-delay=".1s">
                                <img src=<%= asset_path 'hand.jpg' %> alt="" class="img-presentation">
                            </div>
                        </div>
                    </div>
                </div>
