<div class="page-custom-header title-space-lg bg-parallax mb80 parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg16.jpg");background-position:top center;'>
            <div class="container">
                <div class="row">
                    <div class=" col-md-6">
                        <h2 class="text-white">Une communauté proactive</h2>
                        <p class="text-white-gray">
                        U-MAN est un projet visant à moderniser et simplifier l'échange d'information touchant la recherche sur les écosytèmes naturels
                        </p>
                        <a href="/partners" class="btn btn-white-outline">Voir nos partenaires</a>
                    </div>
                </div>
            </div>
        </div><!--page title end-->
<div class="container pb90">
    <h3>Un objectif simple</h3>
    <p>
      Le projet U-MAN est né de la nécessité d'une compréhension des relations des organismes vivant entre eux et dans leurs environnement</p>
    <p>
        Avec l'émergence des nouvelles technologies numériques, et un besoin croissant de data, l'agriculture, l'écologie et la permaculture ont l'opportunité grandissante de travailler ensemble.
    </p>
     <p>
        La révolution numérique transformant le secteur de la production agricole, forestière, biocarburants peut aller encore plus loin. La permaculture s'inscrit dans cette démarche comme une solution évidante. U-MAN établie le premier lien de recherche 
    </p>
    <p>
        Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Vestibulum ante ipsum primis in faucibus orci.
    </p>
</div>
