<div class="page-custom-header title-space-lg bg-parallax mb80 parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url(<%=asset_path 'bg6.jpg' %>);background-position:top center;'>
            <div class="container">
                <div class="row">
                    <div class=" col-md-6">
                        <h2 class="text-white">Une communauté proactive</h2>

                        <p class="text-white-gray">
                        U-MAN est un projet visant à moderniser et simplifier l'échange d'information touchant la recherche sur les écosytèmes naturels
                        </p>
                        <a href="/partners" class="btn btn-white-outline">Voir nos partenaires</a>
                    </div>
                </div>
            </div>
        </div><!--page title end-->

        <!-- Notre solution -->
        <!-- bouton en savoir plus vers technologie -->

        <!-- A propos de nous-->
        <!-- Partenaires  -->
        <!-- equipe -->
        <!-- Participer -->
        <!-- En savoir plus -->


        <div class="container pb90">
            <h3>Un objectif simple</h3>
            <p><p class="lead">
              Le projet U-MAN est né de la nécessité d'une compréhension des relations des organismes vivant entre eux et dans leurs environnements.</p class="lead">

          <p class="lead">Avec l'émergence des nouvelles technologies numériques, et un besoin croissant de DATA, l'agriculture, l'écologie et la permaculture ont l'opportunité grandissante de travailler ensemble.</p class="lead">


          <p class="lead">La révolution numérique transformant le secteur de la production agricole et forestière ainsi que les biocarburants est en mouvement (croissance moyenne de 3,85%).</p class="lead">

        <p class="lead">Nous souhaitons faciliter cette conversion et aller encore plus loin. La permaculture s'inscrit dans cette démarche comme une solution innovante et évidente. U-MAN initie le premier mouvement de recherche et d'agrégation à visée internationale, notre objectif le croisement de données et la recherche de résultat non linéaire.</p class="lead">
  </p>


        </div>


        <div class="wrapper">
            <h3>Une approche scientifique</h3>
            <p><p class="lead">
              La connaissance humaine à progressé de manière exponentielle dans les vingt dernières années, en matière de biologie, de compréhension du microbiosme et d'étude du vivant.</p class="lead">

          <p class="lead">Il est impératif de mettre en relation les données et études développées au niveau international entre elles mêmes. L'accès à l'information est rendu qualitatif par la mise en relation avec son contexte.</p class="lead">


          <p class="lead">Nous nous efforçons de simplifier l'agglomération de données dans le but de faire émerger des qualités dans le croisement de celle-ci. Cella nous permet des découvertes, via le DEEP LEARNING, qui en d'autre temps aurais nécessité des générations d'agriculteurs attentifs et consciencieux.</p class="lead">

        <p class="lead">Ainsi, le savoir le plus ancien de l'humanité, l'agriculture, et notre évolution propre dans notre écosystème en tant qu'espèce, se trouverait, enfin, exposé et OPEN SOURCE au niveau international.</p class="lead">
  </p>
        <img src=<%= asset_path 'carotte.jpg' %> ids="scientifique" alt="mecenes"></li>

        </div>


                <div class="container pb90">
                    <h3>Un engagement Humain</h3>
                    <p><p class="lead">
                      U-MAN, est une plateforme a destinations de professionels, pouvant accélérer son développement. L'objectif dès lors a été de créer un système participatif, permettant au personnes fortement impliquées de partager leur savoir.</p class="lead">

                  <p class="lead">Cet outil est appellé a évolué avec la volonté de la communauté et des capacités techniques a notre disposition.</p class="lead">


                  <p class="lead">La participation, d'acteurs exterieurs via des collaborations et des interventions au sein de U-MAN, nous permet d'accélérer notre croissance.</p class="lead">

                <p class="lead">Notre volonté s'inscrit dans le cadre d'une reconstruction de nos écosystemes, et dans l'entreprise d'établissement d'une pensée nouvelle de l'agriculture, via une rentabilité retrouvée et prouvé de notre écosystème.</p class="lead">
          </p>
                <img src=<%= asset_path 'carotte.jpg' %> id="engagement" alt="mecenes"></li>

                </div>
