<div class="col-lg-5 col-md-6 mb20">
    <form>
      <div class="form-group"></br></br>
          <input type="text" class="form-control" name="Famille" placeholder="Famille">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="type" placeholder="Type (fleur, racine, fruit ...)">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="Famille1" placeholder="Famille">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="type1" placeholder="Type (fleur, racine, fruit ...)">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="Plantae1" placeholder="Plante1">
      </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Plantae2" placeholder="Plante2">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="type_sol" placeholder="type du sol">
        </div>
        <div class="form-group">

          <div class="form-group">
              <input type="text" class="form-control" name="Association" placeholder="Association(CONSEILLÉ,DÉCONSEILLÉ, CONTRADICTOIRE)">
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-rounded btn-primary btn-block">Envoyer</button>
        </div>
    </form>
</div>
