<footer class="footer footer-standard pt50 pb10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb40">
                    <h3>Nous connaître</h3>
                     <p>
               U-MAN développe des technologies avancées basées sur </b>DEEPLEARNING</b> pour réaliser l'étude la plus complète, à ce jour, du monde du vivant
        </p>
        <a href="#" class="btn btn-white-outline btn-sm">En savoir plus</a>
                </div>
                <div class="col-lg-2 col-md-6 mb40">
                    <h3>Quick links</h3>
                    <ul class="list-unstyled footer-list-item">
                        <li>
                            <a href="/presentation">
                                Présentation
                            </a>
                        </li>
                        <li>
                            <a href="/don">
                               Faire un don
                            </a>
                        </li>
                         <li>
                            <a href="/fondation">
                               Fondation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Conditions générales d'utilisation
                            </a>
                        </li>
                         <li>
                            <a href="#">
                                Mentions légales
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/footer-->
    <div class="footer-bottomAlt">
        <div class="container">
            <div class="row">                    
                <span>&copy; Copyright 2018. All Right Reserved</span>
            </div>
        </div>
    </div><!--/footer bottom-->

