<footer class="footer footer-standard pt50 pb10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb40">
                    <h3>Nous connaître</h3>
                     <p>
               U-MAN développe des technologies avancées basées sur </b>DEEPLEARNING</b> pour réaliser l'étude la plus complète, à ce jour, du monde du vivant
        </p>
        <a href="#" class="btn btn-white-outline btn-sm">En savoir plus</a>
                </div>
                <div class="col-lg-2 col-md-6 mb40">
                    <h3>Quick links</h3>
                    <ul class="list-unstyled footer-list-item">
                        <li>
                            <a href="#">
                                Présentation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Faire un don
                            </a>
                        </li>
                         <li>
                            <a href="#">
                               Fondation
                            </a>
                        </li>
                         <li>
                            <a href="#">
                               Contact
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Conditions générales d'utilisation
                            </a>
                        </li>
                         <li>
                            <a href="#">
                                Mentions légales
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/footer-->
    <div class="footer-bottomAlt">
        <div class="container">
            <div class="row">
                  <div class="col-lg-7">
                    <div class="clearfix">
                       <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                        <i class="fa fa-skype"></i>
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-linkedin"></i>
                    </a>
                    </div>
                <div class="col-lg-7">
                </div>
                <div class="col-lg-5">
                    <span>&copy; Copyright 2018. All Right Reserved</span>
                </div>
            </div>
        </div>
    </div><!--/footer bottom-->
    <!--back to top-->
 <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>

    </div><!--/footer bottom-->
