<nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded nav-sticky">

        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img class='logo logo-dark' src="images/logo.png" alt="">
                <img class='logo logo-light hidden-md-down' src="images/logo-light.png" alt="">
            </a>
            <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <li class="nav-item">
                          <a class="nav-link" href=<%= root_path %> aria-haspopup="true" aria-expanded="false">
                              Le projet
                          </a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" aria-haspopup="true" aria-expanded="false" href='/technologie'> technologie</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" aria-haspopup="true" aria-expanded="false" href='#'>log in</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" aria-haspopup="true" aria-expanded="false" href='#'>communauté</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" aria-haspopup="true" aria-expanded="false" href='/partenaires'>Partenaires</a>
                      </li>

        </div>
    </nav>
